@import '~@fortawesome/fontawesome-free/css/all.css';

.modal-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  text-align: left;


  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
 
  .contact-list li {
    display: flex;
    align-items: center;
  }
  
  .contact-list li i {
    margin-right: 10px;
  }
  
  .contact-list li label {
    flex-grow: 1;
  }

  .contact-list li {
    margin-bottom: 10px; /* Adiciona espaço entre cada li */
    
  }



  button {
    text-align: left;
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    color: #000;
    background-color: transparent;
    transition: background-color 0.3s;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: #8B4513; /* Marron leve */
    }
  }


  
}
