
<div class="modal-container  display: none;">
    <h2>Como você prefere receber o nosso contato?</h2>
    <p>Converse com nosso time de consultores e conheça as facilidades de tecnologia e gestão que cabem no seu negócio</p>
    
    <div >
      <ul class="contact-list">
        <li>
          <i class="fas fa-phone"></i>
          <label>Telefone </label> 
          <input type="radio" name="contactMethod" value="telefone" (change)="mostrarCampo('telefone')" [(ngModel)]="selectedMethod">
        </li>
        <li>
          <div *ngIf="selectedMethod === 'telefone'" >
             <label>Inserir o numero do Telefone</label>
            <br> <input type="tel" name="telefone"  mask="(00) 0000-0000" [(ngModel)]="phoneNumber">
          </div>
        </li>
        <hr>
        <li>
          <i class="fas fa-envelope"></i>
          <label>E-mail</label>
          <input type="radio" name="contactMethod" value="email" (change)="mostrarCampo('email')" [(ngModel)]="selectedMethod">
          <li>
            <div *ngIf="selectedMethod === 'email'" >
              <label>Inserir o email</label>
              <br> <input type="text" name="email" [(ngModel)]="email">
            </div>
        </li>  
        <hr>
      </ul>
    </div>
    
    <p> 
      <i class="fas fa-sms"></i> 
      <span> Atendimento em até <b>03 dias úteis.</b></span>
    </p>

    <p>
      As informações forneceidas não alteram os dados cadastrados da sua conta
      e podem ser compartilhados com empresas parceiras e poderão ser tratados
      de acordo com a nossa Polítca de Privadidade disponível em nossos sites 
      e aplicativos
    </p>
    
    <div>
      <button (click)="closeModal()">Voltar</button>
      <button (click)="requestContact()">Solicitar Contato</button>
    </div>
</div>


